@{
	ViewBag.Title = "Oooops";
}

<header role="banner">
	<div class="wrapper">
		<img class="shield" src="~/assets/img/logo-big.png" alt="Piranha CMS" />
	</div>
</header>

<div id="main">
	<article role="main" class="error">
		<header>
			<h1>Oooops<small>/ General major malfunction</small></h1>
			<p class="meta" style="display:none">
				<span class="icon-clock"></span>This very second by Piranha CMS
				<span class="icon-tag"></span>It's not your fault, Please bare with us
			</p>
		</header>
		<p class="excerpt">
			We're ashamed to inform you that something went terribly wrong on our end.
			Luckily we've logged the error and hopefully someone smart will take a look
			at it as soon as possible.
		</p>
	</article>
</div>
