body {
  background-color: #f2f2f2;
  font-family: Arial;
  margin-left: 210px;
  min-width: 768px;
}
h1 {
  color: #999;
  text-transform: uppercase;
  font-size: 32px;
}
a {
  color: #2a8ac2;
}
.container-fluid {
  max-width: 1270px;
  margin-left: 0;
}
