.panel {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  position: relative;
  overflow: hidden;
}
.panel > .panel-heading {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.panel.panel-white {
  border: none;
  padding: 20px;
}
.panel.panel-white h3 {
  color: #999;
  font-family: "Open Sans";
  font-weight: 300;
  margin-top: 0;
}
.panel.panel-white .account-banner {
  color: #999;
  margin-bottom: 20px;
  font: 300 32px "Open Sans", Arial;
}
.panel.panel-white .account-banner small {
  display: block;
  font-size: 12px;
  font-weight: normal;
}
.panel.panel-white .account-logo {
  background: url('../img/logo-big.png') 50% 0 no-repeat;
  height: 155px;
  margin-bottom: 20px;
}
.panel.panel-white .row:last-child .form-group:last-child {
  margin-bottom: 0;
}
.panel.panel-white .form-group {
  border: 0;
}
.panel.panel-white .form-group input {
  background: #eee;
  _padding: 10px 12px;
  border-bottom: 1px solid #dddddd;
}
.panel.panel-white .form-group input::-webkit-input-placeholder,
.panel.panel-white .form-group input:-moz-placeholder,
.panel.panel-white .form-group input::-moz-placeholder,
.panel.panel-white .form-group input:-ms-input-placeholder {
  color: #ccc;
}
.panel.panel-white .form-group textarea {
  background: #eee;
}
.panel.panel-add > .panel-heading {
  padding: 0;
}
.panel.panel-add > .panel-heading .panel-title > a {
  display: block;
  padding: 10px 15px;
}
.panel.panel-add > .panel-heading .panel-title > a:hover {
  text-decoration: none;
}
.panel.panel-add > .panel-heading .panel-title > a:focus {
  outline: none;
  text-decoration: none;
}
.panel.panel-add > .panel-heading .panel-title > .glyphicon {
  padding: 10px 15px;
}
.panel.panel-primary .form .form-group {
  border-width: 1px;
}
.panel .gravatar {
  background: #fff;
  padding: 3px;
  border: 1px solid #ddd;
  position: absolute;
  top: 44px;
  right: 20px;
  z-index: 1000;
  border-radius: 43px;
  -moz-border-radius: 43px;
  -webkit-border-radius: 43px;
  -o-border-radius: 43px;
}
